.body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
 width: 80%;
 margin: auto;

 margin-top: 20px;
}
.container{
  
    height: 200px;
    margin: 5px;
    border-radius: 5px; 
    background-color:rgb(83, 83, 83);
    position: relative;
    transition: 0.3s ease;
    color: white;
}