
<div *ngFor="let item of result">
    <ng-container *ngIf="!loading; else loadingg">
        <div class="box">
            <img [src]="item.background_image" alt="item.name">
            <div class="mdetails">
                <div class="details">
                    <div class=""><strong>{{item.name}}</strong></div>
                    
                    <div class="">{{item.released.slice(0,4)}}</div>
                    
                </div>
              
            </div>
        </div>
    </ng-container>
    

</div>

<ng-template #loadingg>
    <div class="box">
       
        <div class="mdetails">
            <div class="details">
                <div class=""><strong>GTA V</strong></div>
                <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eligendi consectetur...</div>
                <div class="">2013</div>
            </div>
          
        </div>
    </div>
</ng-template>
