.body{
    width: 100%;
  
    display: flex;
    justify-content: center;
}
.mbody{
    background-color: black;
    width: 80%;
  
}
.game-info{
width: 100%; 
    display:flex;
    padding: 20px;
}
.left{
 
margin-left: 20px;

 
}
.right{
    position: relative;
}
.name{
    font-size: 6vw;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m{
    font-size: larger;
   font-style: italic;
}
img{
    width: 450px;
    height: 300px;
}
ng-template{
    display: flex;
    flex-direction: column;
}
.container {
    width:340px;
    height: 200px;
    background-color: rgb(69, 68, 68);
}
.scroll{
    display: flex;
    gap: 2px;
  width:2000px 
}
.imgs{
    overflow-x: scroll;
}
::-webkit-scrollbar{
    height: 5px;
}
.flex{
    display: flex;
}
@media (max-width:700px){
    .game-info{
        flex-direction: column;
    }
    img{
        width: 100%;
        height: 40vw;
       
    }
    .container {
        width:300px;
        height: 180px;
        background-color: rgb(69, 68, 68);
    }
}